streamlit==1.22.0
torch==2.3.0
torchvision==0.18.0
transformers==4.42.0
numpy==1.26.3
modelscope==1.14.0
tb-nightly
pytorch-lightning>=1.0.8
timm==0.5.4
hydra-core<1.1,>=1.0.7
omegaconf<2.1
huggingface-hub<0.24
