streamlit==1.24.0
packaging
torch==2.0.1
torchvision==0.15.2
pandas
datasets
transformers==4.35.0
peft
modelscope
tb-nightly
sentencepiece
flash_attn
einops
tf-keras
requests
beautifulsoup4
tensorboard<2.17,>=2.16
tensorflow==2.16.1
timm==0.5.4
huggingface_hub==0.14.1  # Add the compatible version
